head
	title= title
	script(src="/javascripts/jquery-3.4.1.min.js")
	script(src="/javascripts/jquery-ui.js")
	script(src="/javascripts/jquery-dateformat.min.js")
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
	link(rel='stylesheet', href='/stylesheets/leaflet.css')
	block content
doctype html
html
	body
