body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.left {
	display: inline-block;
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

#map {
	height: 100%;
}

h1.graph-title {
	text-align: center;
}